---
layout: layout
title: home
---
<aside>
  <a href="/"><img src="../images/logo.png" id="logo"/></a>
  <br/>
  {% for cat in site.categories  %}
    <a href="/categories/{{ cat[0] | replace:' ','-'}}" class="category">{{ cat[0] }}</a>
  {% endfor %}
  <h4 id="about"><a href="/about">About</a></h4>
</aside>
<section class="content">
  {% for post in site.posts %}
  <div class="post">
    <div class="preview-title">
      <span class="post-title large-post-title"><a href="{{ post.url }}">{{ post.title }}</a></span>
      <span class="post-title tiny-post-title"><a href="{{ post.url }}">
          {% if post.tinyTitle == "" or post.tinyTitle == nil %}
              {{ post.title}}
          {% else %}
            {{ post.tinyTitle }}
          {% endif %}
        </a>
      </span>
      <br/>
      <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
      <div class="date-small">{{ post.date | date: "%m/%d/%y" }}</div>
    </div>
    <div class="post-excerpt">
      <a href="{{ post.url }}" class="excerpt-link">
        {{ post.content | split:"<!-- more -->" | first }}
      </a>
      <br/>
    </div>
  </div>
  {% endfor %}
</ul>
</section>

