<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/typeplate.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/fonts/fonts.css">
    <title>parryblog -- {{ page.title }}</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
