<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Parry Cadwallader" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/typeplate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/fonts/fonts.css">
    <title>parryblog | {{ page.title }}</title>
  </head>
  <body>
    {{ content }}
  </body>
  <script type="text/javascript">
      var colors = ["#FFFAF1","rgb(111,176,235)","#222222"],
          size = 25,
          yStart = window.innerHeight/size;
          
      for (var x = window.innerWidth/size+1; x >= 0; x--){    
        for (var y = yStart+1; y >= yStart-4; y--) {
          var square = document.createElement('div');
          square.style.height = "25px";
          square.style.width = "25px";
          square.style.position = "fixed";
          square.style.top = (size*y)+"px";
          square.style.left = (size*(x-1))+"px";
          square.style['z-index'] = 2;
          square.style.opacity = 1-(yStart-y)/4;

          square.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
          document.getElementsByTagName('body')[0].appendChild(square);
        } 
      }
  // if(window.location.pathname.split('/').length == 3) {
  //   postStats = document.getElementById('stats-toggle');
  //   postStats.onclick = function() {
  //     stats = document.getElementById('stats');
  //     if(stats.style.display != 'none' && stats.style.display) {
  //       stats.style.display = 'none';
  //       postStats.innerHTML = 'Show Stats';
  //     } else {
  //       stats.style.display = 'block';
  //       postStats.innerHTML = 'Hide Stats';
  //     }
  //   }; 
  // }
  </script>

</html>
