---
layout: post
---
{{ content }}
<br/>
<br/>
<p><a id="stats-toggle" href="#stats">Show Stats</a></p>
<div id="stats">
	<hr/>
	<h3>Post Stats</h3>
	<ul>
		<li>Post date: <b>{{ page.date | date: "%-d %B %Y" }}</b></li>
		<li># of revisions: <b>{{ page.commits.size }}</b></li>
	</ul>
	<h3>Drafts</h3>
	<table class="commit-table">
	{% for commit in page.commits %}
		<tr>
			<td>{{ commit.committed_date | date: "%-d %B %Y" }}</td>
			<td>{{ commit.message }}</td>
		</tr>
	{% endfor %}
	</table>
	<br/>
	<div>
		<p>
			View all drafts on <a href="http://github.com/parryc/parryblog/{{ page.id }}">Github</a>
		</p>
	</div>
</div>

